<div class="article" ng-controller="articleCtrl">
	<div class="article-header">
		<p><em>KnewOne</em>文章</p>
		<span><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;我要写</span>
	</div>
	<div class="article-nav">
		<ul>
			<li ng-click="change()" class="color">首页</li>
			<li ng-click="change()">测评</li>
			<li ng-click="change()">专题</li>
			<li ng-click="change()">访谈</li>
		</ul>
	</div>

	<div class="article-list">
		<section>
			<ul>
				<li>
					<img src="article/images/4fbb1ff246b955811022435cef706037.jpg" alt="" />
					<h3>Ticwatch2</h3>
					<section>问问出品，Google 血统的 Ticwatch 2 智能手表</section>
					<span>
	    				<img src="article/images/71de64b7184765f0df3a4067719dd910.jpg" alt="" />&nbsp;&nbsp;&nbsp;
	    				<em>东西大魔王</em>&nbsp;&nbsp;&nbsp;
	    				<span>六天前</span>&nbsp;&nbsp;&nbsp;
					<i class="fa fa-thumbs-o-up">1</i>
					</span>
				</li>
				<li>
					<img src="article/images/eb400d3e00a3be6936d55d963414772e.png" alt="" />
					<h3>Ticwatch2</h3>
					<section>问问出品，Google 血统的 Ticwatch 2 智能手表</section>
					<span>
	    				<img src="article/images/71de64b7184765f0df3a4067719dd910.jpg" alt="" />&nbsp;&nbsp;&nbsp;
	    				<em>东西大魔王</em>&nbsp;&nbsp;&nbsp;
	    				<span>六天前</span>&nbsp;&nbsp;&nbsp;
					<i class="fa fa-thumbs-o-up">1</i>
					</span>
				</li>
				<li>
					<img src="article/images/02d092c06cc3229000ed62745a8b36d2.jpg" alt="" />
					<h3>Ticwatch2</h3>
					<section>问问出品，Google 血统的 Ticwatch 2 智能手表</section>
					<span>
	    				<img src="article/images/71de64b7184765f0df3a4067719dd910.jpg" alt="" />&nbsp;&nbsp;&nbsp;
	    				<em>东西大魔王</em>&nbsp;&nbsp;&nbsp;
	    				<span>六天前</span>&nbsp;&nbsp;&nbsp;
					<i class="fa fa-thumbs-o-up">1</i>
					</span>
				</li>
				<li>
					<img src="article/images/eb400d3e00a3be6936d55d963414772e.png" alt="" />
					<h3>Ticwatch2</h3>
					<section>问问出品，Google 血统的 Ticwatch 2 智能手表</section>
					<span>
	    				<img src="article/images/71de64b7184765f0df3a4067719dd910.jpg" alt="" />&nbsp;&nbsp;&nbsp;
	    				<em>东西大魔王</em>&nbsp;&nbsp;&nbsp;
	    				<span>六天前</span>&nbsp;&nbsp;&nbsp;
					<i class="fa fa-thumbs-o-up">1</i>
					</span>
				</li>
			</ul>
		</section>
		<section>
			<ul>
				<li></li>
			</ul>
		</section>
		<section>
			<ul>
				<li></li>
			</ul>
		</section>
	</div>

	<p>没有更多了。</p>

	<div class="goTop" ng-click="goTop()">
		<i class="fa fa-angle-up fa-2x"></i>
	</div>

</div>
<!--末尾-->
