
<div class="discover">
    <header>
        <div class="title">
            <i class="fa fa-compass"></i>
            <span>发现</span>
        </div>
        <div class="jxcp">
            <p >
                精选产品
            </p>
            <span><a href="#">查看更多</a></span>
        </div>
    </header>
    <main>
        <div class="gooding" ng-repeat="x in name">
            <div class="goods">
                <img src="{{ x.activity.img }}" alt="">
                <p>{{ x.activity.name }}</p>
                <section>
                    <span class="fa fa-heart-o"></span>
                    <mark>{{ x.activity.love }}</mark>
                    <i class="fa fa-list-ul"></i>
                </section>
            </div>
        </div>
        <!-- <div class="goods">
            <img src="discover/images/d9911d41d46715ca5ea77f9ded6f7d3c.jpg!thing.fixed.jpg" alt="">
            <p>宝矿力水特</p>
            <section>
                <span class="fa fa-heart-o"></span>
                <mark>1</mark>
                <i class="fa fa-list-ul"></i>
            </section>
        </div>
        <div class="goods">
            <img src="discover/images/d9911d41d46715ca5ea77f9ded6f7d3c.jpg!thing.fixed.jpg" alt="">
            <p>宝矿力水特</p>
            <section>
                <span class="fa fa-heart-o"></span>
                <mark>1</mark>
                <i class="fa fa-list-ul"></i>
            </section>
        </div> -->
        <div class="jxcp">
            <p>精选文章</p>
            <span><a href="#">查看更多</a></span>
        </div>
        <div class="articleing" ng-repeat="x in art">
            <div class="article">
                <img src="{{ x.activity.img }}" alt="">
                <div class="logo">
                    <img src="discover/images/logo2.png" alt="">
                    <span></span>
                </div>
                <article>
                    <p>{{ x.activity.title }}</p>
                    <ul>
                        <li>{{ x.activity.name }}</li>
                        <li>{{ x.activity.time }}</li>
                        <li>
                            <i class="fa fa-thumbs-o-up"></i>
                        </li>
                        <li>{{ x.activity.zan }}</li>
                        <li>
                            <i class="fa fa-comment-o"></i>
                        </li>
                        <li>{{ x.activity.comment }}</li>
                    </ul>
                </article>
            </div>
        </div>
        <!-- <div class="article">
            <img src="discover/images/4857ca29a1bd175a8f1f5134412aa18f.jpg" alt="">
            <div class="logo">
                <img src="discover/images/logo2.png" alt="">
                <span></span>
            </div>
            <article>
                <p>狗和女友只能选一个？！</p>
                <ul>
                    <li>沙沙</li>
                    <li>28天前</li>
                    <li>
                        <i class="fa fa-thumbs-o-up"></i>
                    </li>
                    <li>9</li>
                    <li>
                        <i class="fa fa-comment-o"></i>
                    </li>
                    <li>6</li>
                </ul>
            </article> -->
        </div>
        <div class="return">
            <a href="#"><i class="fa fa-angle-up fa-2x"></i></a>
        </div>
    </main>
</div>
